<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-9ce03af9-678a-4506-981a-b9e6a8d8e208;AttachDbFilename=|DataDirectory|\aspnet-Website-9ce03af9-678a-4506-981a-b9e6a8d8e208.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>

  <add name="ADContext" connectionString="Data Source=.;Initial Catalog=AnimeDatabase;Integrated Security=True" providerName="System.Data.sqlClient" />

</connectionStrings>